.button {
    background-color: #ffffff; color: black;
    border-radius: 4px;
	width:450px;
	text-align:left;
}

.button:hover {
    box-shadow: 0 0 2px 2px rgba(30,144,255,0.2), 0 4px 4px 0 rgba(0,0,0,0.2);
}

.button:active {
    background-color: #b9ebff; color: black;
}

.button:disabled {
    background: #dddddd;
}

.input_number {
    width: 50px;
    height: 20px;
    color: #099
}

.input_range {
    text-align: center;
}
