QComboBox {
    border: 1px solid rgb(50,50,50);

    min-width: 3em;
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:1 rgb(80, 80,80),
                        stop:0.5 rgb(60, 60, 60) ,stop:0 rgb(60, 60, 60));
    color : rgb(220,220,220);

    border-radius: 4px;
}

QComboBox:hover {
  color : rgb(220,220,220);
  background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:1 rgb(90, 90,90),
                      stop:0.5 rgb(70, 70, 70) ,stop:0 rgb(70, 70, 70));
}



QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
}

QComboBox::down-arrow {
    image: url(RESOURCE/icons/TRIA_DOUBLE.png);
}

QComboBox QAbstractItemView {
  min-width: 100px;
  color : rgb(220,220,220);
  background-color: rgba(40,40,40,0.5);
}
