<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>proton</key><dict><key>charge</key><integer>1</integer><key>mass</key><integer>1007276466812</integer><key>radius</key><real>0.8775</real><key>spin</key><real>0.5</real><key>discovered</key><dict><key>year</key><integer>1918</integer><key>name</key><string>Ernest Rutherford</string></dict></dict><key>electron</key><dict><key>charge</key><integer>-1</integer><key>mass</key><integer>100866491600</integer><key>radius</key><string></string><key>spin</key><real>0.5</real><key>discovered</key><dict><key>year</key><integer>1932</integer><key>name</key><string>James Chadwick</string></dict></dict><key>neutron</key><dict><key>charge</key><integer>0</integer><key>mass</key><integer>100866491600</integer><key>radius</key><string></string><key>spin</key><real>0.5</real><key>discovered</key><dict><key>year</key><integer>1932</integer><key>name</key><string>James Chadwick</string></dict></dict></dict></plist>
