/*darken level 2 headlines*/
.toctree-l3 a {
	font-weight: bold!important;
	color: #404040!important;
	padding-left:2.2em!important;
}


/*move operator properties closer to their bold "heading"*/
blockquote + p {
	margin: 0 0 1px!important;
}
